<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="..\..\public\stylesheets\grid.css">
    <title>Responsive Grid</title>
</head>
<body>
    <div class="wrapper">
        <!-- Navigation -->
        <nav class="main-nav">
            <ul>
                <li><a href="#" id="">Home</a></li>
                <li><a href="#" id="">About</a></li>
                <li><a href="#" id="">Services</a></li>
                <li><a href="#" id="">Contact</a></li>
            </ul>
        </nav>
        <section class="top-container">
            <header class="showcase">
                <h1>Your Web Presence</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem temporibus molestias laborum, cupiditate inventore vero accusamus reiciendis sit dignissimos aperiam.</p>
                <a href="#" class="btn">Read More</a>
            </header>
            <div class="top-box top-box-a">
                <h4>Membership</h4>
                <p class="price">$199/mo</p>
                <a href="" class="btn">Buy Now</a>
            </div>
            <div class="top-box top-box-b">
                    <h4>Pro Membership</h4>
                    <p class="price">$299/mo</p>
                    <a href="" class="btn">Buy Now</a>
                </div>
        </section>
        <!-- Box Section    -->
        <section class="boxes">
        <div class="box">
                <i class="fas fa-chart-pie fa-4x"></i>
                <h3>Analytics</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente error non accusantium ducimus nesciunt commodi!</p>
        </div>
        <div class="box">
                <i class="fas fa-cog fa-4x"></i>
                <h3>Analytics</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente error non accusantium ducimus nesciunt commodi!</p>
        </div>       
        <div class="box">
                <i class="fas fa-users fa-4x"></i>
                <h3>Analytics</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente error non accusantium ducimus nesciunt commodi!</p>
        </div>
        <div class="box">
                <i class="fas fa-chess-rook fa-4x"></i>
                <h3>Analytics</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente error non accusantium ducimus nesciunt commodi!</p>
        </div>
    </section>

        <!-- Info Section -->
        <section class="info">
            <img src="" alt="">
            <div>
                <h2>Your Business on the Web</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo facere eum architecto nulla inventore ducimus, minima a nihil libero exercitationem?</p>
            </div>
            <a href="#" class="btn">Learn More</a>
        </section>
        <!-- Portfolio Section -->
        <section class="portfolio">
            <img src="https://source.unsplash.com/random/200x200" alt="">
            <img src="https://source.unsplash.com/random/200x201" alt=""><img src="https://source.unsplash.com/random/200x200" alt=""><img src="https://source.unsplash.com/random/200x200" alt=""><img src="https://source.unsplash.com/random/200x200" alt=""><img src="https://source.unsplash.com/random/200x204" alt=""><img src="https://source.unsplash.com/random/200x200" alt=""><img src="https://source.unsplash.com/random/200x200" alt=""><img src="https://source.unsplash.com/random/200x200" alt="">
        </section>
        <!-- footer -->
        <footer>
            <p>Gridbiz &copy 2018</p>
        </footer>

    </div>
    <!-- wrapper ends -->
</body>
</html>