<!DOCTYPE html>
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
</head>
<style>
  body {
    font-size: 30px;
  }
  .wrapper {
    width: 50%;
    height: 50%;
    border: solid 3px blue;
  }
</style>
<body>
  <div class="wrapper">

    THIS is NEW!!
  </div>

  <!-- <% include ../partials/nav.ejs %> -->


</body>
</html>
