<!DOCTYPE html>
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
</head>
<style>
  body {
    font-size: 30px;
  }
  .wrapper {
    width: 50%;
    height: 50%;
    border: solid 3px blue;
    margin: 8rem auto;
    align-content: center;
    text-align: center;
    padding: 5rem;
  }
</style>
<body>
  <div class="wrapper">

    <H1>  A brand new Day jul 21!!</H1>
  </div>

  <!-- <% include ../partials/nav.ejs %> -->


</body>
</html>
